In [2]:
import pandas as pd

In [9]:
flats = pd.read_csv('../data/pxnet_flats.csv', encoding='unicode_escape')
terraced = pd.read_csv('../data/pxnet_terraced.csv', encoding='unicode_escape')
total = pd.read_csv('../data/pxnet_btype_total.csv', encoding='unicode_escape')
data = [flats, terraced, total]

In [29]:
df = pd.concat(data, ignore_index=True)
df

,Region,Building type,Number of rooms,2006Q1 Price per square meter (EUR/m2),2006Q2 Price per square meter (EUR/m2),2006Q3 Price per square meter (EUR/m2),2006Q4 Price per square meter (EUR/m2),2007Q1 Price per square meter (EUR/m2),2007Q2 Price per square meter (EUR/m2),2007Q3 Price per square meter (EUR/m2),...,2019Q1 Price per square meter (EUR/m2),2019Q2 Price per square meter (EUR/m2),2019Q3 Price per square meter (EUR/m2),2019Q4 Price per square meter (EUR/m2),2020Q1 Price per square meter (EUR/m2),2020Q2 Price per square meter (EUR/m2),2020Q3 Price per square meter (EUR/m2),2020Q4 Price per square meter (EUR/m2),2021Q1* Price per square meter (EUR/m2),2021Q2* Price per square meter (EUR/m2)
0,Greater Helsinki,Blocks of flats,Total,2472,2537,2582,2603,2673,2743,2752,...,3949,3990,3970,3954,4070,4147,4183,4207,4285,4393
1,Greater Helsinki,Blocks of flats,One-room flat,3014,3079,3120,3193,3301,3367,3404,...,5607,5615,5656,5630,5899,5897,6001,5946,6180,6251
2,Greater Helsinki,Blocks of flats,Two-room flat,2482,2532,2587,2627,2699,2770,2787,...,4054,4034,4046,4037,4126,4263,4256,4284,4390,4465
3,Greater Helsinki,Blocks of flats,Three-room flat+,2419,2491,2531,2538,2605,2675,2677,...,3772,3843,3804,3785,3904,3957,4008,4036,4090,4215
4,Uusimaa,Blocks of flats,Total,2298,2361,2402,2421,2485,2542,2561,...,3512,3569,3548,3541,3618,3679,3724,3728,3781,3892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Oulu 2,Building types total,Total,1359,1408,1398,1415,1399,1419,1426,...,1576,1569,1522,1528,1589,1649,1620,1566,1620,1668
488,Kainuu,Building types total,Total,998,1009,1003,1020,1067,1121,1080,...,1122,1204,1179,1129,1258,993,1151,1159,1119,1128
489,Kajaani,Building types total,Total,1118,1111,1085,1115,1159,1192,1172,...,1265,1345,1222,1239,1380,1161,1201,1272,1224,1254
490,Lapland,Building types total,Total,1041,1023,1030,1018,1054,1068,1082,...,1169,1230,1298,1223,1300,1287,1300,1345,1192,1291
491,Rovaniemi,Building types total,Total,1201,1199,1200,1248,1248,1242,1285,...,1325,1648,1716,1619,1695,1698,1744,1704,1725,1865

In [45]:
df_num = pd.DataFrame(df.iloc[:, 3:].apply(pd.to_numeric, errors="coerce"))
df_num[df.iloc[:, :3].columns] = df.iloc[:, :3]
cols = list(df.columns)[:3] + list(df.columns)[3:]
df_num = df_num[cols]
df_num

,Region,Building type,Number of rooms,2006Q1 Price per square meter (EUR/m2),2006Q2 Price per square meter (EUR/m2),2006Q3 Price per square meter (EUR/m2),2006Q4 Price per square meter (EUR/m2),2007Q1 Price per square meter (EUR/m2),2007Q2 Price per square meter (EUR/m2),2007Q3 Price per square meter (EUR/m2),...,2019Q1 Price per square meter (EUR/m2),2019Q2 Price per square meter (EUR/m2),2019Q3 Price per square meter (EUR/m2),2019Q4 Price per square meter (EUR/m2),2020Q1 Price per square meter (EUR/m2),2020Q2 Price per square meter (EUR/m2),2020Q3 Price per square meter (EUR/m2),2020Q4 Price per square meter (EUR/m2),2021Q1* Price per square meter (EUR/m2),2021Q2* Price per square meter (EUR/m2)
0,Greater Helsinki,Blocks of flats,Total,2472.0,2537.0,2582.0,2603.0,2673.0,2743.0,2752.0,...,3949.0,3990.0,3970.0,3954.0,4070.0,4147.0,4183.0,4207.0,4285.0,4393.0
1,Greater Helsinki,Blocks of flats,One-room flat,3014.0,3079.0,3120.0,3193.0,3301.0,3367.0,3404.0,...,5607.0,5615.0,5656.0,5630.0,5899.0,5897.0,6001.0,5946.0,6180.0,6251.0
2,Greater Helsinki,Blocks of flats,Two-room flat,2482.0,2532.0,2587.0,2627.0,2699.0,2770.0,2787.0,...,4054.0,4034.0,4046.0,4037.0,4126.0,4263.0,4256.0,4284.0,4390.0,4465.0
3,Greater Helsinki,Blocks of flats,Three-room flat+,2419.0,2491.0,2531.0,2538.0,2605.0,2675.0,2677.0,...,3772.0,3843.0,3804.0,3785.0,3904.0,3957.0,4008.0,4036.0,4090.0,4215.0
4,Uusimaa,Blocks of flats,Total,2298.0,2361.0,2402.0,2421.0,2485.0,2542.0,2561.0,...,3512.0,3569.0,3548.0,3541.0,3618.0,3679.0,3724.0,3728.0,3781.0,3892.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Oulu 2,Building types total,Total,1359.0,1408.0,1398.0,1415.0,1399.0,1419.0,1426.0,...,1576.0,1569.0,1522.0,1528.0,1589.0,1649.0,1620.0,1566.0,1620.0,1668.0
488,Kainuu,Building types total,Total,998.0,1009.0,1003.0,1020.0,1067.0,1121.0,1080.0,...,1122.0,1204.0,1179.0,1129.0,1258.0,993.0,1151.0,1159.0,1119.0,1128.0
489,Kajaani,Building types total,Total,1118.0,1111.0,1085.0,1115.0,1159.0,1192.0,1172.0,...,1265.0,1345.0,1222.0,1239.0,1380.0,1161.0,1201.0,1272.0,1224.0,1254.0
490,Lapland,Building types total,Total,1041.0,1023.0,1030.0,1018.0,1054.0,1068.0,1082.0,...,1169.0,1230.0,1298.0,1223.0,1300.0,1287.0,1300.0,1345.0,1192.0,1291.0
491,Rovaniemi,Building types total,Total,1201.0,1199.0,1200.0,1248.0,1248.0,1242.0,1285.0,...,1325.0,1648.0,1716.0,1619.0,1695.0,1698.0,1744.0,1704.0,1725.0,1865.0

In [60]:
missing_rows = 0
for i in range(492):
    if (df_num.iloc[i, :].isnull().any()):
        missing_rows += 1
missing_rows

93